@charset "utf-8";
@font-face{font-family:'yg-jalnan';src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');font-weight:normal;font-style:normal;}

*{box-sizing:border-box;}
html,body{font:16px/1 'Noto Sans KR', sans-serif;margin:0;padding:0;height:100%;/*min-width:1400px;*/margin:0 auto;}
body{overflow-y:scroll;}
body{font:16px/1 'Noto Sans KR', sans-serif;color:#333;letter-spacing:-0.015rem}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,tbody,tfoot,thead,th,td{margin:0;padding:0;}
input,textarea,select,td,th,button{font:16px/1 'Noto Sans KR', sans-serif;color:#333;vertical-align:middle;font-weight:400;}
input,textarea,select{color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
table{width:100%;border-spacing:0;border-collapse:collapse;table-layout:fixed;}
ol,ul,li{list-style:none;}
hr, legend, .hidden{position:absolute;top:0;left:-3000px;overflow:hidden;line-height:0.1%;font-size:0.1%;width:0.1%;height:0.1%}
caption{position:relative;visibility:hidden;overflow:hidden;line-height:0.1%;font-size:0.1%;width:0.1%;height:0.1%}
.blind{overflow:hidden;position:absolute;left:-9999px !important;top:-9999px !important}
img,fieldset{border:0 none;}
label,button{cursor:pointer;}
em,address{font-style:normal;}
strong{font-weight:700;}
a:link,a:visited{/*color:#333;*/text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none;}
img{vertical-align:top;max-width:100%}
/*select {-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0;}*/
select::-ms-expand {display:none;}
input{border-radius:0;}
input[type=text]{-webkit-appearance:none;appearance:none;box-shadow:0 0;}
input[type=password]{-webkit-appearance:none;appearance:none;box-shadow:0 0;}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=phone]::-webkit-outer-spin-button,
input[type=phone]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0;}
input::-ms-clear{display:none;}
input::placeholder{color:#ccc;}
input:-ms-input-placeholder{color:#ccc;}
textarea::placeholder{color:#ccc;}
textarea:-ms-input-placeholder{color:#ccc;}
select:focus {outline:none;}
input:focus {outline:none;}
select:focus{border-bottom:1px solid #82308e !important;color:#82308e !important;}
input[type=text]:foucs{border-bottom:1px solid #82308e !important;color:#82308e !important;}

:root {
	--color-blue:#557CF2;
	--color-red:#EF2B2A;
	--color-yl:#FFC85F;
	--color-cyan:#01D0B0;
}

.mt20{margin-top:20px}
.mt40{margin-top:40px}
.mr5{margin-right:5px}
.mr15{margin-right:15px}
.t_center{text-align:center}

/* Check & Radio */
input[type="checkbox"]{visibility:hidden;position:absolute;}
input[type="checkbox"] + label{display:inline-block;line-height:16px;}
input[type="checkbox"] + label:after{content:'';float:left;display:inline-block;width:18px;height:18px;border:1px solid #ccc;border-radius:2px;background:#fff;box-sizing:border-box;}
input[type="checkbox"]:hover + label:after{border-color:#557CF2}
input[type="checkbox"]:disabled + label:after{background:#F5F5F5}
input[type="checkbox"]:checked + label:after{background:url('../images/ico_check_on.svg') no-repeat 50% 50%;border-color:#557CF2;}

input[type="radio"]{visibility:hidden;position:absolute;}
input[type="radio"] + label{display:inline-block;line-height:16px;}
input[type="radio"] + label:after{content:'';float:left;display:inline-block;width:18px;height:18px;border:1px solid #ccc;border-radius:9px;background:#fff;box-sizing:border-box;}
input[type="radio"]:hover + label:after{border-color:#557CF2}
input[type="radio"]:disabled + label:after{background:#F5F5F5}
input[type="radio"]:checked + label:after{background:url('../images/ico_radio_on.svg') no-repeat 50% 50%;border-color:#557CF2;}

/**/
.inp_field{margin-bottom:40px}
.inp_field > label{display:block;margin-bottom:10px;line-height:24px;color:#000;font-weight:700;}
.inp_field input{display:block;width:100%;height:48px;line-height:48px;padding:0 20px;border:1px solid #ccc;}
.inp_field input:focus{border-color:var(--color-blue);}
.inp_field input.active{border-color:var(--color-blue);}
.inp_field .row{position:relative;margin-bottom:10px;}
.inp_field .file_box{display:flex}
.inp_field .file_box input[type="file"]{position:absolute;width:0;height:0;padding:0;overflow:hidden;border:0;}
.inp_field .file_box .file_name{-webkit-flex:1;flex:1;}
.inp_field .file_box label{display:inline-block;width:160px;height:48px;line-height:48px;margin-bottom:0;text-align:center;color:#fff;vertical-align:middle;background-color:#333;cursor:pointer;margin-left:8px;font-weight:700}
.inp_field .file_box .btn_preview{display:inline-block;width:48px;height:48px;margin-left:8px;background:url('../images/btn_preview.svg') no-repeat 50% 50%;text-indent:-9999px}
.inp_field .alert{position:relative;}
.inp_field .alert input{border-color:var(--color-red);}
.inp_field .txt_alert{margin:10px 0 20px;padding-left:25px;font-size:14px;color:var(--color-red);background:url('../images/ico_alert.svg') no-repeat 0 50%;}
.inp_field .btn_del{position:absolute;right:20px;top:14px;display:inline-block;width:20px;height:20px;background:url('../images/ico_delete.svg') no-repeat 50% 50%;text-indent:-9999px;border:0 none}
.inp_field.q_blank{display:flex;}
.inp_field.q_blank div > label{display:block;margin-bottom:10px;line-height:24px;color:#000;font-weight:700;}
.inp_field.q_blank div:first-child{width:600px;margin-right:20px}
.inp_field.q_blank div:nth-child(2){width:320px}

/**/
.btn_lg{display:flex;justify-content:center;align-items:center;height:80px;font-size:24px;font-weight:700}
.btn_md{display:block;width:240px;height:64px;line-height:64px;text-align:center;font-size:24px;font-weight:700;}
.btn_sm{display:inline-block;width:160px;height:48px;line-height:48px;text-align:center;font-size:18px;font-weight:700;}

.color_blue{color:var(--color-blue);}
.bg_blue{background:var(--color-blue);color:#fff}
.bg_white{background:#fff;color:var(--color-blue);}
.btn_line{border:4px solid var(--color-blue);color:var(--color-blue);}
.btn_sm_ico{display:inline-flex;align-items:center;justify-content:center;padding:0 25px;height:40px;line-height:40px;font-size:16px;font-weight:700;}
.btn_md_ico{display:inline-flex;align-items:center;justify-content:center;width:160px;height:48px;line-height:48px;font-size:18px;font-weight:700;}

.btn_add{display:flex;align-items:center;justify-content:center;height:48px;text-align:center;border:1px solid #ccc;background:#F5F5F5;color:#777;border-radius:12px}
.btn_add span{display:inline-block;padding-left:27px;line-height:20px;background:url('../images/ico_add2.svg') no-repeat 0 50%;}
.btn_reset{background:var(--color-blue);color:#fff}
.btn_reset:before{content:'';display:inline-block;width:17px;height:20px;margin-right:6px;background:url('../images/ico_reset.svg') no-repeat 0 50%;}
.btn_data{border:1px solid var(--color-blue);color:var(--color-blue);}
.btn_data:before{content:'';display:inline-block;width:17px;height:20px;margin-right:6px;background:url('../images/ico_data_add.svg') no-repeat 0 50%;}
.btn_hw_make{border:1px solid var(--color-blue);color:#fff;}
.btn_hw_make:before{content:'';display:inline-block;width:17px;height:20px;margin-right:6px;background:url('../images/ico_book.svg') no-repeat 0 50%;}


.ico_status{display:inline-block;width:64px;height:64px;border-radius:32px;font-size:16px;font-weight:700;line-height:60px;border-width:2px;border-style:solid}
.ico_status.ing{color:#557CF2;border-color:#557CF2}
.ico_status.standby{color:#01D0B0;border-color:#01D0B0}
.ico_status.end{color:#999;border-color:#F5F5F5;background:#F5F5F5}

/**/
.pagenation{height:32px;padding-top:10px;text-align:center;}
.pagenation > a{display:inline-block;vertical-align:top;width:26px;height:26px;font-size:14px;color:#666;}
.pagenation > a + a{margin-left:5px;}
.pagenation > a.page_no + a.page_no{margin-left:0}
.pagenation > a.page_no{font-size:15px;text-align:center;line-height:30px;}
.pagenation > a:not(.page_no){width:32px;height:32px;font-size:0;}
.pagenation > a.page_first{background:url('../images/btn_page_first.svg') no-repeat 50% 50%;}
.pagenation > a.page_prev{background:url('../images/btn_page_prev.svg') no-repeat 50% 50%;}
.pagenation > a.page_next{background:url('../images/btn_page_next.svg') no-repeat 50% 50%;}
.pagenation > a.page_last{background:url('../images/btn_page_last.svg') no-repeat 50% 50%;}
.pagenation > a.on{color:#3999FF;}


/**/
.wrap{overflow:hidden;position:relative;width:100%;min-width:1280px;}
.inner{width:1024px;margin:0 auto}

#content{}
#content .inner{width:1000px;padding-bottom:120px}
#content.main .inner{padding:0}
header{height:60px;display:flex;align-items:center;background:#557CF2}
header .inner{display:flex;align-items:center;justify-content:space-between;}
header h1 a{font-size:20px;color:#fff;font-weight:900}
header .util{display:flex;line-height:20px;}
header .util .user{display:inline-block;padding:0 30px;background:url('../images/ico_user.svg') no-repeat 0 50%;color:#fff;font-size:14px;font-weight:500}
header .util .user:after{content:'';display:inline-block;width:2px;height:18px;margin-left:30px;background:rgba(255, 255, 255, .4);vertical-align:bottom;}
header .util a{color:#fff;font-size:14px;font-weight:500}

nav{background:#fff;}
nav .inner{display:flex;align-items:center;justify-content:space-between;height:60px;}
nav ul{display:flex;}
nav ul li{margin-right:80px;line-height:26px;}
nav ul li a{display:inline-block;padding-left:25px;font-size:18px;color:#000}
nav ul li.on a{color:#557CF2;font-weight:700}
nav ul li.add a{background:url('../images/ico_add.svg') no-repeat 0 50%;}
nav ul li.list a{background:url('../images/ico_folder.svg') no-repeat 0 50%;}
nav ul li.add.on a{background:url('../images/ico_add_on.svg') no-repeat 0 50%;}
nav ul li.list.on a{background:url('../images/ico_folder_on.svg') no-repeat 0 50%;}
nav .btn_hw{display:inline-flex;align-items:center;justify-content:center;width:120px;height:36px;border-radius:18px;color:#fff;font-size:16px;font-weight:700;background:#557CF2;}
nav .btn_hw:hover{background:#FFC85F;color:#000}

/**/
footer{position:absolute;right:20px;bottom:20px;font-size:13px;color:#999}

/**/
.sel_box{position:relative;display:inline-block;width:172px;box-sizing:border-box}
.sel_box a{display:block;height:48px;line-height:48px;padding-left:10px;color:#000;font-size:14px}
.sel_box > a{border:1px solid #ccc;background:url('../images/ico_sel_on.svg') no-repeat right 16px top 50%;}
.sel_box.on > a{background:url('../images/ico_sel_off.svg') no-repeat right 16px top 50%;}
.sel_box ul{display:none;position:absolute;left:0;top:47px;width:100%;border:1px solid #ccc;}
.sel_box.on ul{display:block}
.sel_box ul li{border-bottom:1px dashed #ccc;background:#fff}
.sel_box ul li:last-child{border-bottom:0 none}

/**/
.main{display:flex;width:100%;height:100vh}
.main > div{display:flex;flex-direction:column;justify-content:center;width:50%;/*padding-top:200px;*/align-items:center;}
.main > div .inner{max-width:560px;margin:0 auto}
.main .bg_wrap{background:url('../images/bg_main.jpg') no-repeat 50% 50%;background-size:cover}
.main .bg_wrap h1{margin-bottom:40px;font-size:48px;line-height:70px;font-weight:900;color:#fff;text-align:center;}
.main .bg_wrap ul{margin-bottom:50px;}
.main .bg_wrap ul li{display:flex;align-items:center;padding-left:20px}
.main .bg_wrap ul li:first-child{padding-bottom:30px;margin-bottom:30px;border-bottom:1px dashed #fff}
.main .bg_wrap ul li .tit{display:inline-block;width:136px;height:136px;}
.main .bg_wrap ul li p{width:calc(100% - 136px);padding-left:20px;font-size:26px;line-height:40px;color:#fff;word-break:keep-all}
.main .bg_wrap ul li p.tab_view{display:none}
.main .login_wrap{background:#fff}
.main .login_wrap h2{font-size:48px;line-height:70px;font-weight:900;color:#000;text-align:center;}
.main .login_wrap .sub_txt{font-size:26px;line-height:38px;color:#777;}
.main .login_wrap .login_box{margin-top:60px}
.main .login_wrap .login_box label{display:block;margin-bottom:8px;font-weight:700;color:#000;font-size:20px;line-height:28px;}
.main .login_wrap .login_box input{display:block;width:100%;height:80px;margin-bottom:30px;padding:0 60px;line-height:80px;border:1px solid #E5E5E5;font-size:20px;}
.main .login_wrap .login_box .inp_id{background:url('../images/ico_id.svg') no-repeat 20px 50%;}
.main .login_wrap .login_box .inp_pw{background:url('../images/ico_pw.svg') no-repeat 20px 50%;}
.main .login_wrap .txt_user{margin-bottom:20px;padding-top:170px;text-align:center;font-size:24px;line-height:36px;background:url('../images/ico_id.svg') no-repeat 50% 0 / 160px auto;}
.main .login_wrap .btn_logout{display:block;width:160px;height:44px;line-height:44px;margin:0 auto;border-radius:22px;text-align:center;color:var(--color-blue);font-size:20px;font-weight:700;background:#EBF0FF}
.main .login_wrap .btn_box{margin:115px 0 0}
.main .login_wrap .btn_box a + a{margin-top:30px;}

/**/
.q_tit_area{position:relative;height:220px;padding:50px 0 0;margin-bottom:68px;background:#F2F3F5;text-align:center;box-sizing:border-box}
.q_tit_area h2{margin-bottom:10px;font-size:40px;font-weight:900;line-height:59px;color:#000}
.q_tit_area .sub_txt{color:#666;font-size:20px;}
.q_tit_area .sub_txt .ico_arrow:after{content:'';display:inline-block;width:16px;height:16px;margin:0 8px;background:url('../images/ico_arrow.svg') no-repeat 50% 50%;}
.q_tit_area .type{position:absolute;left:50%;bottom:-28px;display:block;width:100%;max-width:1024px;height:56px;line-height:56px;margin-left:-512px;text-align:center;font-size:28px;font-weight:700;color:#fff;background:#01D0B0;border-radius:20px;box-shadow:1px 4px 1px rgb(0 0 0 / 8%);}
.q_tit_area .menu_list{overflow:hidden;position:absolute;left:50%;bottom:0;width:100%;max-width:1024px;margin-left:-512px;display:flex;border-radius:20px 20px 0 0;}
.q_tit_area .menu_list li{flex:auto;background:#E4E5E7}
.q_tit_area .menu_list li a{display:block;height:60px;line-height:60px;text-align:center;color:#999;font-size:22px;}
.q_tit_area .menu_list li.on{background:#01D0B0}
.q_tit_area .menu_list li.on a{color:#fff;font-weight:700}
.bg_body{min-height:calc(100vh - 120px);padding:50px 0 0;background:#F2F3F5;}
.bg_body h2{font-size:40px;font-weight:900;line-height:59px;color:#000;text-align:center;}
.ex_area{padding:20px;margin:40px 70px;border:2px dotted var(--color-blue);text-align:center}
.btn_area{display:flex;justify-content:flex-end;margin:80px 0 30px}
.btn_area a{margin-left:10px}
.q_card{position:relative;margin-bottom:30px;padding:22px 30px 20px;border-radius:20px;background:#fff;box-shadow:0 1px 6px rgba(0, 0, 0, .2)}
.q_card .q_num{padding-bottom:8px;margin-bottom:30px;border-bottom:1px solid #333;font-size:20px;line-height:28px;color:var(--color-blue);font-weight:700}
.q_card .btn_q_del{position:absolute;right:30px;top:15px;display:inline-block;width:36px;height:36px;background:url('../images/btn_q_del.svg') no-repeat 50% 50%;border:0 none;text-indent:-9999px}
.btn_md_blue{display:block;width:240px;height:64px;line-height:64px;margin:60px auto 0;text-align:center;font-size:24px;font-weight:700;background:var(--color-blue);color:#fff}
.btn_md_blue:hover{background:linear-gradient(180deg, rgba(36,188,255,1) 0%, rgba(85,124,242,1) 80%, rgba(85,124,242,1) 100%);}

/**/
.list_wrap .list_top{display:flex;justify-content:space-between;justify-content:flex-end;margin-bottom:20px}
.list_wrap .list_top .btn_batch{background:var(--color-blue);color:#fff}
.list_wrap .list_top .btn_batch:before{content:'';display:inline-block;width:20px;height:20px;margin-right:6px;background:url('../images/ico_book.svg') no-repeat 0 50%;}
.list_wrap .list_top .sel_wrap{display:flex}
.list_wrap .list_top .sel_wrap .sel_box + .sel_box{margin-left:10px}
.list_wrap table{border-top:2px solid #557CF2;}
.list_wrap table th{min-height:46px;background:#F5F5F5;text-align:center;padding:14px 18px;font-size:16px;color:#000;font-weight:700;border-bottom:1px solid #ccc}
.list_wrap table td{padding:20px 18px;border-bottom:1px dashed #B8B8B8;color:#777;font-size:18px;line-height:27px;}
.list_wrap table td.t_center{text-align:center}
.list_wrap table tr:last-child td{border-bottom:0 none}
.list_wrap table td .tit_td{display:flex;}
.list_wrap table td .thumb{position:relative;display:inline-flex;align-items:flex-start;justify-content:center;align-items:center;max-width:160px;margin-right:20px;background:#eee;}
.list_wrap table td .thumb .save{position:absolute;left:0;top:0;padding:0 8px;font-size:12px;font-weight:700;color:#fff;line-height:22px;font-weight:700;background:#EF2B2A;border-radius:0 0 10px 0;}
.list_wrap table td .txt_box{padding-left:20px}
.list_wrap table td .txt_box .label{display:inline-block;padding:0 6px;border:1px solid #ccc;font-size:16px;color:#777;text-align:center;border-radius:4px;}
.list_wrap table td .txt_box p{margin-top:5px;line-height:26px;}
.list_wrap table td .txt_box p a{font-size:18px;color:#000;font-weight:700;}
.list_wrap table td .ico_status{display:block;margin:0 auto 3px;}
.list_wrap .pagenation{padding-top:40px;border-top:2px solid #000}

/**/
.view_wrap .view_top{position:relative;display:flex;justify-content:space-between;align-items:center;height:64px;padding:12px 30px;border-top:2px solid var(--color-blue);background:#F5F5F5}
.view_wrap .view_top p{font-size:20px;font-weight:700;color:#000}
.view_wrap .view_top .btn_make:before{content:'';display:inline-block;width:17px;height:20px;margin-right:6px;background:url('../images/ico_book.svg') no-repeat 0 50%;}
.view_wrap .view_top .btn_code:before{content:'';display:inline-block;width:34px;height:16px;margin-right:6px;background:url('../images/ico_code.svg') no-repeat 0 50%;}
.view_wrap .view_top .btn_copy:before{content:'';display:inline-block;width:15px;height:18px;margin-right:6px;background:url('../images/ico_copy.svg') no-repeat 0 50% / 100% auto;}
.view_wrap .view_top .txt_copy{display:none;position:absolute;right:0;top:-34px;justify-content:space-between;align-items:center;min-width:280px;height:40px;padding:5px 18px 5px 30px;border-radius:20px;background:#FFC85F}
.view_wrap .view_top .txt_copy:after{content:'';position:absolute;bottom:-15px;right:48px;border-top:19px solid #FFC85F;border-left:11px solid transparent;border-right:11px solid transparent;border-bottom:0px solid transparent;}
.view_wrap .view_top .txt_copy p{margin-right:15px;font-size:16px;font-weight:700;}
.view_wrap .view_top .txt_copy button{display:inline-block;width:20px;height:20px;border:0 none;text-indent:-9999px;background:url('../images/btn_close.svg') no-repeat 50% 50%;}
.view_wrap .activity_area{position:relative;padding:40px 70px;justify-content:center;}
.view_wrap .activity_area .btn_play{position:absolute;left:32.34%;top:calc(70.83% - 40px);width:35.31%;}
.view_wrap .tb_tit{margin-bottom:10px;font-size:20px;color:#000;font-weight:700}
.view_wrap table{border-left:1px solid #ccc;}
.view_wrap table th{background:#F5F5F5;text-align:center;padding:10px 18px;font-size:16px;line-height:24px;color:#000;font-weight:700;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-top:1px solid #ccc}
.view_wrap table td{padding:20px 18px;border-right:1px solid #ccc;border-bottom:1px solid #B8B8B8;color:#666;font-size:18px;line-height:27px;}
.view_wrap table td.t_center{text-align:center}
.view_wrap table.tb_type2{border-top:2px solid #557CF2}
.view_wrap table.tb_type2 td{padding:8px 18px}

/**/
.code_wrap{height:calc(100vh - 120px);padding-top:60px;background:#F2F3F5;box-sizing:border-box;}
.code_wrap .code_box{width:720px;padding:30px 80px 120px;margin:0 auto;background:#fff;text-align:center;}
.code_wrap .code_box h2{margin-bottom:35px;font-size:48px;font-weight:900;color:#000}
.code_wrap .code_box h2 + p{margin-bottom:40px;font-size:20px;color:#000;}
.code_wrap .code_box input{display:block;width:100%;padding:0 20px;height:64px;line-height:62px;border:1px solid #E5E5E5;font-size:18px;box-sizing:border-box;}
.code_wrap .code_box a{width:100%;margin-top:20px;}

/**/
.activity_cho{display:flex;justify-content:space-between;align-items:center;}
.activity_cho > div{position:relative;display:flex;align-items:center;flex-direction:column;width:calc(50% - 10px);padding-top:158px;height:560px;border-radius:40px;box-shadow:0 1px 6px rgb(0 0 0 / 20%);box-sizing:border-box;}
.activity_cho .ai_box{background:#fff url('../images/ico_ai2.png') no-repeat 50% 28px / 120px auto;}
.activity_cho .act_box{background:#fff url('../images/ico_activity2.png') no-repeat 50% 28px / 120px auto;}
.activity_cho dl{text-align:center}
.activity_cho dl dt{margin-bottom:15px;font-size:28px;font-weight:900;color:#000}
.activity_cho dl dd{text-align:center;font-size:16px;line-height:24px;color:#444}
.activity_cho .ai_box dl img{display:inline-block;width:100%;max-width:220px;margin-top:20px;}
.activity_cho .act_box dl img{display:inline-block;width:100%;max-width:368px;margin-top:44px;}
.activity_cho .btn_start{display:block;width:100%;height:72px;margin-top:auto;line-height:72px;text-align:center;background:var(--color-blue);color:#fff;font-size:24px;font-weight:700;border-radius:0 0 40px 40px}
.activity_cho .btn_start.preparing{cursor:default;background:#E4E4E4;color:#999}
/*.activity_cho .btn_start:not(.preparing):hover{background:;}*/
.activity_cho .txt_preparing{position:absolute;left:50%;bottom:-50px;width:70%;padding:13px 20px;background:#01D0B0;border-radius:20px;color:#fff;font-weight:700;font-size:14px;transform: translate(-50%, -50%);}
.activity_cho .txt_preparing:after{content:'';position:absolute;top:-7px;left:50%;margin-left:-4px;border-top:8px solid #01D0B0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:0px solid transparent;transform:rotate(180deg)}

.activity_make{display:flex;justify-content:space-between;align-items:center;margin-top:60px;}
.activity_make > div{position:relative;display:flex;align-items:center;flex-direction:column;width:calc(50% - 40px);border:3px solid #fff;height:460px;padding:4px 4px 34px 4px;box-shadow:0 1px 6px rgb(0 0 0 / 20%);background:#fff;border-radius:40px;}
.activity_make > div:hover{border:3px solid #557CF2;}
.activity_make dl{text-align:center}
.activity_make dl dt{margin:20px 0 10px;font-family:'yg-jalnan';font-size:32px;color:#000}
.activity_make dl dd{color:#444;font-size:18px;line-height:26px}
.activity_make .img_box{overflow:hidden;position:relative;border-radius:36px;}
.activity_make .img_box:after{content:'';position:absolute;left:0;top:0;z-index:1;display:block;width:100%;height:100%;background:rgba(0, 0, 0, .4)}
.activity_make .img_box img{max-width:100%;}
.activity_make a{margin-top:auto;}
.activity_make > div:hover .btn_make{background:#FFC85F;color:#000}
.activity_make .btn_pop{position:absolute;top:15px;right:15px;z-index:10;display:inline-block;width:36px;height:36px;text-indent:-9999px;background:url('../images/ico_info.png') no-repeat 50% 50% / 100% auto}

/**/
.dim{display:none;position:fixed;left:0;top:0;width:100%;height:100%;background-color: rgba(0,0,0,.6);z-index:100;}
.pop_wrap{display:none;overflow-x:hidden;overflow-y:auto;position:fixed;left:50%;top:50%;z-index:101;max-height:95vh;border-radius:20px;-webkit-transform: translate(-50%, -50%);transform:translate(-50%, -50%);}
.pop_wrap .pop_head{display:flex;justify-content:space-between;align-items:center;height:64px;padding:0 30px;background:#557CF2}
.pop_wrap .pop_head .tit{overflow:hidden;max-width:calc(100% - 50px);font-size:21px;font-weight:700;color:#fff;word-break:break-all;white-space:nowrap;text-overflow:ellipsis;}
.pop_wrap .pop_head .btn_pop_close{display:inline-block;width:24px;height:24px;border:0 none;background:url('../images/btn_pop_close.svg') no-repeat;text-indent:-9999px}
.pop_wrap .pop_cont{background:#fff;}
.pop_wrap .pop_foot{padding:12px 0;border-top:1px solid #ccc;text-align:center;background:#fff;}
.pop_wrap .pop_foot a{display:inline-block;width:160px;height:40px;line-height:38px;text-align:center;font-size:18px;font-weight:700;background:#000;color:#fff;vertical-align:middle;}
.pop_wrap .pop_foot a.btn_line{border-width:1px;border-color:#557CF2;color:#557CF2;background:#fff;font-weight:700}

.pop_data{width:1000px}
.pop_data .sub_tit{margin-bottom:4px;font-size:20px;font-weight:700;line-height:30px;}
.pop_data .search_wrap{padding:16px 0;background:#F9FAFC}
.pop_data .search_box{position:relative;display:flex;justify-content:space-between;width:764px;height:48px;margin:0 auto}
.pop_data .search_box input{display:block;flex:1;width:100%;height:48px;line-height:48px;box-sizing:border-box;border:1px solid #ccc;line-height:52px;padding:0 20px;font-size:18px;}
.pop_data .search_box .btn_search{display:inline-block;width:48px;height:48px;background:#333 url('../images/ico_search.svg') no-repeat 50% 50%;}
.pop_data .q_box{display:flex;background:#fff;}
.pop_data .q_box .menu{width:280px;border-right:1px solid #ccc}
.pop_data .q_box .menu .scr_area{overflow-y:auto;height:528px;padding:10px 0;box-sizing:border-box}
.pop_data .q_box .menu a{display:block;color:#000;padding:6px 0}
.pop_data .q_box .menu a:hover{background-color:#EAEFFE !important;color:#557CF2}
.pop_data .q_box .menu a.all{padding-left:35px;font-weight:700;background:url('../images/ico_menu_depth1.svg') no-repeat 15px 7px;}
.pop_data .q_box .menu .list_depth1 > li > a{padding-left:60px;background:url('../images/ico_menu_depth2.svg') no-repeat 35px 7px;}
.pop_data .q_box .menu .list_depth2{display:none}
.pop_data .q_box .menu .list_depth2 > li > a{padding-left:80px;background:url('../images/ico_menu_depth3.svg') no-repeat 60px 7px;line-height:1.2;}
.pop_data .q_box .menu .list_depth2 > li > a:hover{background-color:#EAEFFE;color:#557CF2}
.pop_data .q_box .tb_area{flex:1;padding:20px 30px 30px;}
.pop_data .q_box .tb_area .no_data{padding-top:130px;color:#666;font-size:16px;line-height:24px;text-align:center;background:url('../images/ico_nodata.svg') no-repeat 50% 40px;}
.pop_data .keyword_area{position:relative;display:flex;align-items:center;justify-content:flex-end;width:100%;height:44px;padding:0 10px;box-sizing:border-box;background:#F9FAFC}
.pop_data .keyword_area .txt{overflow:hidden;display:inline-block;max-width:170px;height:18px;line-height:18px;padding-left:20px;margin-right:auto;font-size:12px;background:url('../images/ico_search2.svg') no-repeat 0 50%;cursor:default; white-space:nowrap;text-overflow:ellipsis;}
.pop_data .keyword_area .txt_detail{display:none;position:absolute;left:28px;right:auto;top:-80%;z-index:10;max-width:80%;padding:10px;background:rgba(0, 0, 0, .6);color:#fff;font-size:13px;line-height:16px;word-break:break-all;}
.pop_data .keyword_area .txt:hover + .txt_detail{display:block;}
.pop_data .keyword_area .num{font-size:12px;color:#999}
.pop_data .keyword_area .btn_direction{display:flex;margin-left:8px;}
.pop_data .keyword_area .btn_direction button{display:inline-block;width:20px;height:20px;background:#fff;border:1px solid #ccc;background:url('../images/ico_down.svg') no-repeat 50% 50%;text-indent:-9999px}
.pop_data .keyword_area .btn_direction button.btn_up{margin-right:-1px;transform:rotate(180deg)}
.pop_data .keyword_area .btn_direction button:disabled{background:url('../images/ico_down_off.svg') no-repeat 50% 50%;}
.pop_data .unit_wrap{margin-bottom:30px;min-height:200px}
.pop_data .tb_scr_box{overflow-y:auto;height:180px;}
.pop_data table{border-top:2px solid #557CF2;}
.pop_data table th{background:#F5F5F5;text-align:center;padding:5px 0;font-size:14px;line-height:20px;border-right:1px solid #ccc;border-bottom:1px solid #ccc}
.pop_data table td{padding:5px 10px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;color:#666;font-size:14px;line-height:20px;}
.pop_data table td.chk{padding:5px 0;text-align:center}
.pop_data table td.t_center{text-align:center}
.pop_data table tr th:last-child,
.pop_data table tr td:last-child{border-right:0 none}
.pop_data table tr td .q_list li{position:relative;padding-left:10px;font-size:14px;line-height:20px;}
.pop_data table tr td .q_list li:before{content:'*';position:absolute;left:0;top:4px;color:#01D0B0;vertical-align:middle;}
.pop_data .tb_data_body{border-top:0 none}
.pop_data .tb_data_body td:not(.t_center){vertical-align:top}
.pop_data .data_wrap .pagenation{border-top:1px solid #000}

.pop_task_make{width:720px;}
.pop_task_make .tit_box{padding:16px 50px;background:#F9FAFC;box-sizing:border-box;}
.pop_task_make .tit_box input{display:block;width:100%;height:48px;line-height:48px;box-sizing:border-box;border:1px solid #ccc;line-height:48px;padding:0 20px;font-size:18px;}
.pop_task_make .tit_box input:hover{border-color:#557CF2}
/*.pop_task_make .tit_box input:read-only{cursor:default}*/
.pop_task_make .set_area{padding:40px 110px 60px;background:#fff;}
.pop_task_make .set_area .cal_area{display:flex;align-items:center;}
.pop_task_make .set_area .inp_cal{display:inline-block;width:230px;height:48px;line-height:48px;box-sizing:border-box;border:1px solid #ccc;line-height:48px;padding:0 20px 0 42px;font-size:18px;color:#333;background:#fff url('../images/ico_calendar.svg') no-repeat 14px 50%;}
.pop_task_make .set_area .term{display:inline-block;width:40px;text-align:center;}
.pop_task_make .set_area dl dt{margin-bottom:10px;font-size:20px;font-weight:700;color:#000}
.pop_task_make .set_area dl + dl{margin-top:60px}
.pop_task_make .set_area .radio_area{display:inline-block;padding:10px 40px;border-radius:20px;background:#EBF0FF;}
.pop_task_make .set_area .radio_area + .radio_area{margin-left:35px}
.pop_task_make .set_area .radio_area label:after{margin-right:10px}

.pop_code{width:560px}
.pop_code .pop_cont{padding:40px 28px}
.pop_code dl{display:flex}
.pop_code dl dt{width:55px;font-size:20px;font-weight:700;color:#000;line-height:48px;}
.pop_code dl dd{width:calc(100% - 55px)}
.pop_code dl dd .url{display:flex}
.pop_code dl dd .url input{display:inline-block;width:calc(100% - 48px);height:48px;line-height:48px;padding:0 20px;border:1px solid #ccc;font-size:18px}
.pop_code dl dd .url .btn_copy{width:48px;height:48px;background:#fff;border:0 none;background:#000 url('../images/ico_copy.svg') no-repeat 50% 50%;}
.pop_code dl dd .txt_copy{margin-top:4px;font-size:14px;line-height:20px;color:#01D0B0}

.pop_activity{width:1000px;box-sizing:border-box;}
.pop_activity .pop_cont{padding:30px 50px;}
.pop_activity .img_box{padding:0 50px;}
.pop_activity .txt_info{height:60px;margin-top:25px;line-height:60px;text-align:center;font-size:24px;font-weight:700;color:#557CF2;background:rgba(235, 240, 255, .10);border-radius:20px;}

@media all and (max-width:1440px){
	.main .btn_line{border-width:3px}
	.main .btn_lg{height:64px;}
	.main .bg_wrap h1{margin-bottom:27px;font-size:40px}
	.main > div .inner{max-width:432px}
	.main .bg_wrap ul li:first-child{padding-bottom:10px;margin-bottom:10px;}
	.main .bg_wrap ul li p{font-size:24px;line-height:36px}
	.main .bg_wrap ul li p.pc_view{display:none}
	.main .bg_wrap ul li p.tab_view{display:block}
	.main .login_wrap h2{font-size:40px;}
	.main .login_wrap .sub_txt{font-size:20px;line-height:28px}
	.main .login_wrap .login_box{margin-top:40px}
	.main .login_wrap .login_box input{height:64px;margin-bottom:40px;line-height:64px;font-size:18px}
	.main .login_wrap .txt_user{padding-top:130px;font-size:20px;line-height:29px;background-size:120px auto}
	.main .login_wrap .btn_logout{width:120px;height:40px;line-height:40px;font-size:18px}
	.main .login_wrap .btn_box{margin:100px 0 0}
}

@media screen and (orientation : landscape){
	/*html, body{width:100%;height:100%}*/
}
